:root {
  --main-bg-color: white;
  --dark-color: #E0592A;
  --important-text: rgb(237, 109, 40);
}

body {
  background-color: var(--main-bg-color);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root::after {
  justify-content: space-between;
}

/* *Header */
.header {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--dark-color);
}

.apex-logo {
  width: 216px;
  height: 80px;
  transition: .5s;
  padding-right: 10px;
}

.elevated-logo {
  width: 216px;
  height: 80px;
  padding: 10px;
  background-color: black;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 24px;
  width: 85%;
  margin: 1rem 7.5%;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  text-decoration: underline;
}

.active {
  color: var(--dark-color);
}
/* *End of header */

/* *Homepage services display */
.services-nav {
  display: flex;
  height: 900px;
  background-color: black;
}

.service-img {
  position: relative;
  text-align: center;
  transition: .3s;
  overflow: hidden;
}

.blur {
  filter: blur(4px);
  width: 100%;
}

.blur img {
  height: 900px;
  width: 100%;
  transform: scale(1.1);
  opacity: .75;
}

.service-img h1 {
  color: white;
  font-size: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  width: 550px;
}

.rotate {
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}
/* *End of services display */

/* *Footer */
.footer {
  width: 100%;
  background-color: var(--dark-color);
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}
/* *End of footer */

/* *Google Map */
#map {
  width: 350px;
  height: 350px;
}

@media screen and (max-width: 900px) {
}
