:root {
  --important-text: #E0592A;
}

body {
  background-color: black;
  color: white;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root::after {
  justify-content: space-between;
}

/* *Header */
.header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.apex-logo,
.elevated-logo {
  width: 216px;
  height: 80px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 24px;
  width: 85%;
  margin: 1rem 7.5%;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

.active {
  color: var(--important-text);
}
/* *End of header */

/* *Homepage services display */
.services-display {
  display: flex;
  height: 900px;
  border-top: 1px solid var(--important-text);
  border-bottom: 1px solid var(--important-text);
}

.service-img {
  position: relative;
  text-align: center;
  transition: .3s;
  overflow: hidden;
}

.blur {
  filter: blur(4px);
  width: 100%;
}

.blur img {
  height: 900px;
  width: 100%;
  transform: scale(1.1);
  opacity: .75;
}

.service-img h1 {
  font-size: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  width: 550px;
}

.rotate {
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}
/* *End of services display */

/* *Homepage */
#highlight {
  color: var(--important-text);
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  width: 75%;
  margin: 5rem auto;
  text-align: center;
  margin-bottom: 0;
}

.about-text {
  position: relative;
}

#shadow {
  position: relative;
  top: 0;
  transform: translateY(50%);
  color: rgb(132, 132, 132);
  font-size: 200px;
  opacity: .1;
  margin-top: -40%;
}

.about h1 {
  font-size: 50px;
}

.homepage-about-img {
  position: relative;
}

#about-logo {
  height: 500px;
  width: 700px;
}

#logo-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 400px;
}

.services-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.services-header h1 {
  font-size: 300px;
  opacity: .1;
  margin-bottom: -80px;
}

.services-header h4 {
  font-size: 40px;
  margin-bottom: 2rem;
}

.services-header button {
  width: 50%;
  font-weight: bold;
  font-size: large;
}

.services-header button:hover {
  cursor: pointer;
}

.service-links {
  border-top: 1px solid var(--important-text);
  border-bottom: 1px solid var(--important-text);
}

.top,
.bottom {
  display: flex;
}

.top-img,
.bottom-img {
  width: 33.3%;
  position: relative; 
  display: flex;
  justify-content: center;
  transition: .3s;
}

.top-img img,
.bottom-img img {
  height: 400px;
  width: 100%;
}

.text-overlay {
  position: absolute;
  transform: translateY(150%);
  text-align: center;
  font-weight: bold;
  font-size: larger;
}
/* *End of homepage */

/* *Footer */
.footer {
  width: 100%;
  text-align: center;
  margin-top: 3rem;
  padding-top: 1rem;
}

.footer img {
  width: 216px;
  height: 80px;
}

.footer-content {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.footer-col {
  width: 20%;
}

.footer-col h4{
  margin: 2rem 0;
}

.footer-col img {
  margin-bottom: 10px;
}
/* *End of footer */

/* *Google Map */
#map {
  height: 250px;
}

.pin {
  font-size: 14px;
  color: black;
}

@media screen and (max-width: 900px) {
}
