:root {
  --important-text: #E0592A;
}

body {
  background-color: black;
  color: white;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root::after {
  justify-content: space-between;
}

/* *Header */
.header {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--important-text);
}

.apex-logo,
.elevated-logo {
  width: 216px;
  height: 80px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 24px;
  width: 85%;
  margin: 1rem 7.5%;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

.active {
  color: var(--important-text);
}
/* *End of header */

/* *Homepage services display */
.services-display {
  display: flex;
  height: 900px;
  border-bottom: 1px solid var(--important-text);
}

.service-img {
  position: relative;
  text-align: center;
  transition: .3s;
  overflow: hidden;
}

.blur {
  filter: blur(4px);
  width: 100%;
}

.blur img {
  height: 900px;
  width: 100%;
  transform: scale(1.1);
  opacity: .75;
}

.service-img h1 {
  font-size: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  width: 550px;
  color: white;
}

.rotate {
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}
/* *End of services display */

/* *Homepage */
#highlight {
  color: var(--important-text);
}

.side-by-side {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  width: 75%;
  margin: 5rem auto;
  text-align: center;
  margin-bottom: 0;
}

#shadow {
  color: rgb(132, 132, 132);
  font-size: 200px;
  opacity: .1;
  margin-bottom: -80px;
}

.about h1 {
  font-size: 50px;
}

.sbs-img {
  position: relative;
}

#about-logo {
  height: 500px;
  width: 700px;
}

#logo-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 400px;
}

.services-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.services-header h1 {
  font-size: 300px;
  opacity: .1;
  margin-bottom: -80px;
  z-index: -1;
}

.services-header h4 {
  font-size: 40px;
  margin-bottom: 2rem;
}

.services-header a {
  width: 50%;
  font-weight: bold;
  font-size: large;
  text-decoration: none;
  background-color: white;
  text-align: center;
  color: black;
}

.service-links {
  border-top: 1px solid var(--important-text);
}

.top,
.bottom {
  display: flex;
}

.top-img,
.bottom-img {
  width: 33.3%;
  position: relative; 
  display: flex;
  justify-content: center;
  transition: .3s;
}

.top-img img,
.bottom-img img {
  height: 400px;
  width: 100%;
}

.text-overlay {
  position: absolute;
  transform: translateY(150%);
  text-align: center;
  font-weight: bold;
  font-size: larger;
}
/* *End of homepage */

/* *Services page */
.service-page-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid var(--important-text);
  padding: 1rem;
}

.service-page-nav a {
  text-decoration: none;
  padding: 1rem;
  font-size: larger;
}

.service-page-nav a:hover {
  text-decoration: underline;
}

#tint,
#ppf,
#coating,
#detailing {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid var(--important-text);
}

#sp-header-text {
  width: 75%;
  text-align: center;
}

#services-shadow {
  opacity: .1;
  color: rgb(132, 132, 132);
  font-size: 100px;
  margin-bottom: -20px;
}

.service-selector {
  display: flex;
  gap: 2rem;
  margin: 2rem 5%;
  height: 550px;
}

.service-selector-tall {
  display: flex;
  gap: 2rem;
  margin: 2rem 5%;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 550px;
}

.left {
  background-color: rgb(45, 45, 45);
  width: 250px;
}

.left h1 {
  padding: 0 10px;
  margin: 0;
}

#left-divider {
  height: 5px;
  width: 100%;
  background-color: black;
}

#left-divider:last-child {
  display: none;
}

.left h1:hover {
  cursor: pointer;
  text-decoration: underline;
}

.middle {
  width: 800px;
}

.right {
  border: 1px solid grey;
  padding: 1rem;
}

#package-img {
  width: 800px;
  height: 300px;
  padding: 1rem 0;
}
/* *End of services page */

/* *Xpel page */
.xpel-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.xpel-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.xpel-header p {
  width: 60%;
  text-align: center;
}

#selection-btn {
  cursor: pointer;
  background-color: var(--important-text);
  color: white;
  padding: 10px;
  font-weight: bold;
  margin-top: 2rem;
  border: none;
  border-radius: 5px;
}

.page-divider {
  background-color: var(--important-text);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  margin: 3rem 0;
}

.learn-more {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  width: 65%;
  border: 1px solid grey;
  margin-bottom: 3rem;
}

.expandable {
  border-bottom: 1px solid grey;
}

.expandable h6 {
  border-bottom: 1px solid grey;
  padding: 10px;
}

.expandable p {
  padding: 10px;
}
/* *End of xpel page */

/* *Contact page */
.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#shadow-main {
  color: rgb(132, 132, 132);
  font-size: 13vw;
  opacity: .1;
  margin-bottom: -100px;
}

#z-index {
  z-index: 10;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.icons a {
  font-size: 50px;
  color: white;
  border: 1px solid white;
  width: 50px;
  height: 50px;
}

#icon {
  margin-bottom: 60px;
}

.info {
  display: flex;
  justify-content: space-around;
  width: 85%;
  margin-top: 6rem;
}

.info div {
  text-align: center;
}

.info p {
  font-size: large;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 3rem;
}

.contact-form p {
  margin: 0;
}

.contact-row {
  margin-bottom: 1rem;
}

.name {
  display: flex;
  justify-content: space-between;
}

.name input {
  width: 48%;
}

.phone input,
.email input {
  width: 100%;
  margin-bottom: 1rem;
}

.vehicle {
  display: flex;
  justify-content: space-between;
}

.vehicle div {
  width: 30%;
}

.vehicle input {
  width: 100%;
}

.contact-row select,
.contact-row textarea {
  width: 100%;
}

.contact-form button {
  width: 20%;
  background-color: var(--important-text);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: auto;
}
/* *End of contact page */

/* *Footer */
.footer {
  width: 100%;
  text-align: center;
  padding-top: 2rem;
  border-top: 1px solid var(--important-text);
}

.footer img {
  width: 216px;
  height: 80px;
}

.footer-content {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.footer-col {
  width: 20%;
}

.footer-col h4{
  margin: 2rem 0;
}

.footer-col img {
  margin-bottom: 10px;
}
/* *End of footer */

/* *Google Map */
#map {
  height: 250px;
}

.pin {
  font-size: 14px;
  color: black;
}

@media screen and (max-width: 900px) {
}
